<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/show.css"> 

</head>
<body>
  </html>
  <%- include('../partials/header') %>

  <div id="show-page-container">
    <section id="show-page">
      <div class="show-info-label">IG USERNAME:</div>
      <div class="show-info-value"><%= stylist.instagram %></div>
      <div class="show-info-label">TYPE OF ARTISTRY:</div>
      <div class="show-info-value"><%= stylist.artistryType %></div>
      <div class="show-info-label">WILLING TO RECOMMEND: </div>
      <div class="show-info-value"><%= stylist.recommended ? 'YES' : 'NO' %></div>
    </section>

    <form action="/stylist/<%= stylist._id %>?_method=DELETE" class="delete-form" method="POST">
      <button type="submit">Delete Submission</button>
    </form>

    <br><br>
    <h2 class="review-header">Reviews:</h2>
    <% if (user) { %>
      <form id="add-review-form" method="post" action="/stylist/<%= stylist._id %>/reviews">
        <!-- <label for="review-content">Review:</label> -->
        <textarea name="content" id="review-content" placeholder="Type review here"></textarea>
        <label for="star-rating">Rati</label>
        <fieldset class="star-rating">
          <input type="radio" id="star5" name="rating" value="5" />
          <label for="star5" class="star-label">&#9733;</label>
          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4" class="star-label">&#9733;</label>
          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3" class="star-label">&#9733;</label>
          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2" class="star-label">&#9733;</label>
          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1" class="star-label">&#9733;</label>      
        </fieldset>
        <input type="submit" value="Add Review">
      </form>
    <% } %>

    <% if (stylist.reviews.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %>
          <% stylist.reviews.forEach(function(r, index) { %>
            <tr>
              <% if (index === 0) { %>
                <td class="review-user" rowspan="<%= stylist.reviews.length %>">
                  <img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer">
                  <%= r.userName %>
                </td>
              <% } %>
              <td><%= r.createdAt.toLocaleDateString() %></td>
              <td><%= r.content %></td>
              <td><%= r.rating %></td>
            </tr>
            <% total += r.rating %>
          <% }); %>
          <tr>
            <td colspan="2"></td>
            <td><strong><%= (total / stylist.reviews.length).toFixed(1) %></strong></td>
          </tr>
        </tbody>
      </table>
      <a href="/stylist/<%= stylist.id %>/edit">EDIT</a>
    <% } else { %>
      <h5>No Reviews Yet</h5>
    <% } %>
    